﻿@{
    ViewBag.Title = "IndexRS";
}

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script async src="//jsfiddle.net/pJ5BR/6945/embed/"></script>

<div class="container" ng-app="App">
    <h2>Real Estate Listings</h2>
    <p>Sort by price then city and by city then price:</p>
    <div ng-controller="PropertiesInfoCtrl">
        Sort by: <a class="btn btn-default" ng-click="sort('price')"><span>Price</span></a> <a class="btn btn-default" ng-click="sort('city')"><span>City</span></a>
        <br><br>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="property in properties()">
                <td>{{property.id}}</td>
                <td>{{property.city}}</td>
                <td>{{property.price}}</td>
            </tr>
        </table>
    </div>
</div>
